.node-rows {
  display: block;
  .row {
    border: 1px solid lightblue;
    padding: 5px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    >div {
      margin: 4px 0 9px;
    }
    .label {
      width: 100%;
      font-weight: bold;
      font-size: 100%;
      margin-bottom: 4px;
    }
    .dog_picture img {
      max-width: 250px;
    }
    input[type="text"] {
      width: 95%;
      float: left;
    }
    input[type="submit"] {
      float: right;
    }
  }
}

.form-errors {
  color: rgb(220, 53, 69);
}

.errors {
  input[type="submit"] {
    float: none!important;
  }
}

input[type="submit"],
input[type="button"] {
  border: 1px solid lightblue;
  background: rgb(40, 167, 69);
  padding: 10px;
  color: #fefefe;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 3px;
  &:hover {
    background: rgba(40, 167, 69, .8);
  }
}

.messages {
  position: fixed;
  background: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  .message-inner {
    background: white;
    position: fixed;
    padding: 50px;
    width: 50vw;
    left: 25vw;
    top: 40vh;
    text-align: center;
  }
}


.DraftEditor-root {
  width: 100%;
  display: block;
  float: left;
  text-align: left;
  margin: 4px 0;
  border: 1px solid #cacaca;
  padding: 10px;
  .public-DraftStyleDefault-block {
    margin: 3px 0 5px;
  }
}


.draftJsToolbar__buttonWrapper__1Dmqh {
  display: inline-block;
}

.draftJsToolbar__button__qi1gf {
  // float:left;
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.draftJsToolbar__button__qi1gf svg {
  fill: #888;
}

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.draftJsToolbar__active__3qcpF {
  background: #efefef;
  color: #444;
}

.draftJsToolbar__active__3qcpF svg {
  fill: #444;
}
.draftJsToolbar__separator__3U7qt {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}
.draftJsToolbar__toolbar__dNtBH {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 2;
  box-sizing: border-box;
  float: left;
}

.draftJsToolbar__toolbar__dNtBH:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}
.draftJsToolbar__toolbar__dNtBH:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}
