.node-rows {
  display: block;
  .row {
    border: 1px solid lightblue;
    padding: 5px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    >div {
      margin: 4px 0 9px;
    }
    .label {
      width: 100%;
      font-weight: bold;
      font-size: 100%;
      margin-bottom: 4px;
    }
    .dog_picture img {
      max-width: 250px;
    }
    input[type="text"] {
      width: 95%;
      float: left;
    }
    input[type="submit"] {
      float: right;
    }
  }
}

.form-errors {
  color: rgb(220, 53, 69);
}

.errors {
  input[type="submit"] {
    float: none!important;
  }
}

input[type="submit"],
input[type="button"] {
  border: 1px solid lightblue;
  background: rgb(40, 167, 69);
  padding: 10px;
  color: #fefefe;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 3px;
  &:hover {
    background: rgba(40, 167, 69, .8);
  }
}

.messages {
  position: fixed;
  background: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  .message-inner {
    background: white;
    position: fixed;
    padding: 50px;
    width: 50vw;
    left: 25vw;
    top: 40vh;
    text-align: center;
  }
}

