.rows-villains {
  display: block;
  border-bottom: 1px dotted lightblue;
  padding-bottom: 25px;
  margin-bottom: 25px;
  &:last-child {
    border-bottom: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  img {
    max-width: 125px;
    height: auto;
    border-radius: 15px; // float: left;
    margin: 0 15px 5px 0;
  }
  >* {
    margin-bottom: 2.5px;
  }
}

.data-for-villans {
  padding: 25px 0 0;
}

input[type=text] {
  max-width: inherit;
  width: auto;
}

.query-display {
  font-family: monospace;
  white-space: pre;
  font-size: 80%;
  background: #add8e63b;
  display: inline-block;
  padding: 0 50px 10px 0;
  span {
    font-family: 'Roboto';
    font-size: 120%;
    background: #7f7f84;
    padding: 3px;
    color: #fff;
    font-weight: bold;
  }
}

form.graphql-form {
  max-width: 45%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px dashed #d3d3d3;
  margin-right: 45px;
  padding-right: 45px;
  >span {
    min-width: 250px;
    clear: both;
    display: block;
  }
}
